.root {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100dvh;
}

body {
  background-image: radial-gradient(rgb(167, 139, 171), rgb(91, 53, 99));
  background-repeat: no-repeat;
  color: white;
}

.drop-area {
  border-style: dashed;
  border-radius: 10px;
  border-width: 2px;
  border-color: white;
  margin: 0 auto;
  width: 600px;
  height: 150px;
}

.green-border {
  border-color: green;
}